.about-wrapper {
    background-color: #191919;
    height: 650px;
}

.about-wrapper .content-inner {
    margin: 0, 50px;
    padding: 0, 15px;
    height: 650px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.about-wrapper .content-inner .img-about {
    display: flex;
    align-items: center;
}

.about-wrapper .content-inner .img-about .img {
    background-image: url(./img/IMG_3215.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 504px;
    width: 600px;
    border-radius: 10px;
    margin: 0 25px;
}

.about-wrapper .content-about {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.about-wrapper .content-about .inner-about {
    margin-top: 100px;
    margin-right: 50px;
}

.about-wrapper .content-about .inner-skill {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: aliceblue;
}

.about-wrapper .content-about .inner-about .title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 85px;
    text-align: left;
    margin: 15px 15px;
    color: #FFFF;
}

.about-wrapper .content-about .inner-about .sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    margin: 15px 15px;
    color: rgba(198, 201, 216, .75);
}