.menu-wrapper,
.menu-left,
.menu-right {
    display: flex;
    background-color: #1F1F16;
    height: 50px;
}

.menu-wrapper .menu-left {
    justify-content: flex-start;
    padding-left: 35px;
    flex-grow: 2;
}

.menu-wrapper .menu-right {
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 25px;
}

.menu-wrapper .logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/logo1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 10px;
}

.menu-wrapper .main-menu-na .mainmenu {
    display: flex;
    padding-left: 35px;
    list-style: none;
    font-family: sans-serif;
    align-items: center;
    color: #FFFF;
}

.menu-wrapper .main-menu-na .mainmenu a {
    padding: 10px 16px;
    text-decoration: none;
}

.menu-wrapper .main-menu-na .mainmenu a:link,
a:visited,
a:active {
    color: #FFFF;
    font-size: 15px;
}

.menu-wrapper .main-menu-na .mainmenu a:hover {
    color: #D63C6C;
    font-size: 20px;
    border-bottom: 2px solid #D63C6C;
}

.menu-wrapper .main-menu-na .mainmenu li {
    color: #FFFF;
}

.menu-wrapper .menu-right .social-menu .socail-but {
    display: flex;
    list-style: none;
    font-family: sans-serif;
    align-items: center;
    color: #FFFF;
}

.menu-wrapper .menu-right .social-menu .socail-but a {
    padding: 16px 20px;
    text-decoration: none;
}

.menu-wrapper .menu-right .social-menu .socail-but .fb,
.ins,
.ink {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-wrapper .menu-right .social-menu .socail-but .fb {
    background-image: url(../img/logo-fb.png);
}

.menu-wrapper .menu-right .social-menu .socail-but .ins {
    background-image: url(../img/logo-ins1.png);
    width: 20px;
    height: 20px;
}

.menu-wrapper .menu-right .social-menu .socail-but .ink {
    background-image: url(../img/logo-ink1.png);
    width: 20px;
    height: 20px;
}