.new-por {
    height: 800px;
    background-color: black;
}

.new-por .block3 {
    width: 100%;
    color: #FFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: black;
}

.new-por .block4 {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.new-por .block3 h1 {
    font-family: Poppins, sans-serif;
    font-size: 60px;
    line-height: 84px;
    font-weight: 1000px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 40.2px;
}

.new-por .block-wrapper {
    width: 390px;
    height: 500px;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: #FFF;
    margin-top: 40px;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 20px;
    transition-duration: 0.5s;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
}

.new-por .block-wrapper .overlay {
    height: 500px;
    width: 390px;
    background: white;
    background: linear-gradient(180deg, rgba(246, 0, 76, 0.8323704481792717) 0%, rgba(0, 0, 0, 0.6446953781512605) 82%);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.new-por .block-wrapper:hover .overlay {
    height: 500px;
    width: 390px;
    opacity: 1;
    transform: scale(1.02, 1.02);
}

.new-por .block-wrapper:hover {
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.98, 0.98);
    width: 390px;
    height: 500px;
}

.new-por .block-wrapper .content,
.content1 {
    width: 200px;
    width: 390px;
    opacity: 1;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    top: 320px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-por .block-wrapper .overlay .content {
    transition-duration: 2s;
}

.new-por .block-wrapper .content1 .subtitle,
.block3 span {
    color: rgb(198, 201, 216);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.new-por .block-wrapper .content1 .title {
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 36px;
}

.new-por .block-wrapper:hover .content1 {
    opacity: 0;
}

.new-por .block-wrapper:hover .overlay .content .subtitle {
    font-size: 25px;
}

.new-por .block-wrapper:hover .overlay .content .title {
    font-size: 40px;
}